<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/add_page.css' %}" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 class="text-center">文章</h1>
<div id="all">
    <a href="{% url 'blog:index' %}" id="index">返回博客首页</a>
    <form action="{% url 'blog:edt_action' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="article_id" value="{{ article.id|default:'0' }}"/>
        <div id="article" class="text-center">
            <div id="title">
                <label>标题
                    <input type="text" name="title" value="{{ article.title }}"/>
                </label>
            </div>
            <div id="content">
                <textarea rows="20" cols="80" name="content" placeholder="请在此输入文章内容">{{ article.content }}</textarea>
            </div>
            <input type="submit" value="提交" class="btn btn-default button"/>
            <input type="reset" value="重置" class="btn btn-default button"/>
            <input type="hidden" name="time" id="Time"/>
            <input type="hidden" id="warning" value="{{ Alert }}"/>
            <input type="hidden" id="id" value="{{ article.id|default:'0' }}"/>
        </div>
    </form>
</div>
<script src="{% static 'js/add_page.js' %}"></script>
</body>
</html>