<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/add_page.css' %}" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 class="text-center">文章</h1>
<div id="all">
    <form action="{% url 'blog:edt_action' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="article_id" value="{{ article.id|default:'0' }}"/>
        <div id="article" class="text-center">
            <div id="title">
                <label>标题
                    <input type="text" name="title" value="{{ article.title }}"/>
                </label>
            </div>
            <div id="content">
                <textarea rows="20" cols="80" name="content" placeholder="请在此输入文章内容">{{ article.content }}</textarea>
            </div>
            <input type="submit" value="提交" class="btn btn-default button"/>
            <input type="reset" value="重置" class="btn btn-default button"/>
        </div>
        <p name="time" id="Time"></p>
    </form>
</div>
</body>
<script type="text/javascript">
    if ("{{ Alert|safe }}" === "warning") {
        alert("该标题已存在！");
    }
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1,         //月份
            "d+": this.getDate(),          //日
            "h+": this.getHours(),          //小时
            "m+": this.getMinutes(),         //分
            "s+": this.getSeconds(),         //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds()       //毫秒
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
    mydate = new Date();
    document.getElementById("Time").innerHTML = mydate.Format('yyyy-MM-dd hh:mm:ss');
</script>
</html>