<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link href="{% static "css/article_page.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "dist/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
    <title>Title</title>
</head>
<body>
<div>
    <a href="{% url 'blog:index' %}" id="index">返回博客首页</a>
    <h1 id="article_title" class="text-center">{{ article.title }}</h1>
    <textarea cols="120" rows="25" id="article_content" readonly>{{ article.content }}</textarea>
</div>
<div class="text-center">
<input type="button" id="change" onclick="change({{ article.id }})" class="btn btn-default button" value="修改此文章"/>
<input type="button" id="delete" onclick="remove({{ article.id }})" class="btn btn-default button" value="删除此文章"/>
</div>
</body>
<script src="{% static 'js/article_page.js' %}"></script>
</html>