<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link href="{% static "css/article_page.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "dist/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
    <title>Title</title>
</head>
<body>
<div>
    <h1 id="article_title" class="text-center">{{ article.title }}</h1>
    <textarea cols="120" rows="25" id="article_content" readonly>{{ article.content }}</textarea>
</div>
<a href="{% url 'blog:edt' article.id %}" id="change">修改文章</a>
</body>
</html>