<!DOCTYPE HTML>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>表单</title>
    <link href="{% static 'css/log.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/log.js' %}"></script>
</head>
<body>
<div>
    <a href="{% url 'blog:index' %}" id="index">返回博客首页</a>
    <h1 style="font-family: 华文彩云; color:white; font-size: 50px">Let's begin the battle</h1>
    <div id="formb">
        <ul id="sign">
            <li>
                <input type="button" class="sign" id="signin" value="Sign in" onclick="signin()"/>
            </li>
            <li>
                <input type="button" class="sign" id="signup" value="Sign up" onclick="signup()"/>
            </li>
        </ul>
        <br>
        <form action="" method="post" id="myform">
            <label for="txtname">UserName：</label>
            <input type="text" id="txtname" placeholder="字母和数字为首,不带有空格" class="text" name="name"/>
            <br>
            <label for="txtpass">PassWord：</label>
            <input type="password" id="txtpass" placeholder="数字,大小写字母开头" class="text" name="password"/>
            <br>
            <div class="dis">
                <label for="Email">E-mail：</label>
                <input type="text" id="email" placeholder="Enter email" class="text2" name="emaili"/>
                <br>
                <label for="phone">Phone：</label>
                <input type="text" id="phone" placeholder="PhoneNumber:86+" class="text2" name="phone"/>
                <br>
            </div>
            <input type="submit" onclick="con()" value="确认" class="bu" id="submit"/>
            <input type="reset" value="重置" class="bu" id="reset"/>
        </form>
    </div>
</div>
</body>