body{
    background: url("img/add_img.jpg"),no-repeat,fixed;
    background-size: cover;
}
#article_title{
    background-color: #2aabd2;
    font-family: 华文楷体;
    color: #e5fff3;
    width:50%;
    position: relative;
    left: 25%;
    border-radius:5px;
    border:1px solid #e5fff3;
}
#article_content{
    position: relative;
    left: 18%;
    border-radius:10px;
    border:1px solid #e5fff3;
    resize: none;
}
#change{
    position: relative;
    top: 50%;
}