body{
    background: url("img/add_img.jpg"),no-repeat,fixed;
    background-size: cover;
}
#article_title{
    background-color: #21373f;
    font-family: 华文楷体;
    color: #fffceb;
    width:50%;
    position: relative;
    left: 25%;
    border-radius:5px;
    border:1px solid #535d58;
    opacity: 0.5;
}
#article_content{
    width: 60%;
    position: relative;
    left: 23%;
    border-radius:5px;
    border:1px solid #e5fff3;
    resize: none;
}
#index{
    width: 20%;
    font-size: large;
    color: #818a97;
}
.button{
    position: relative;
}
#time{
    color: #9bb49c;
    font-size: large;
}