body{
    background: url("img/add_img.jpg"), no-repeat,fixed;
    background-size:100%,100%, cover;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/add_img.jpg');
}
input[type=text],input[type=password]{
    border-radius:2px;
    border:1px solid #e5fff3;
}
.dis{
	width: 100%;
}
#formb{
	color:white;
	font-size:25px;
	width:100%;
	opacity: 0.9;
	text-align:center;
	position: absolute;
	top:30%;
}
.text,.text2{
	width:800px;
	height:50px;
	opacity: 0.8;
	color: black;
	position: absolute;
	left:380px;
}
label{
	position: absolute;
	left: 200px;
}
.dis{
	display:none;
}
#dis{
	display:none;
}
.bu{
	width:200px;
	height:30px;
	background:#484240;
	border:1px solid #827067;
	font-size:20px;
	color:white;
}
#submit{
	position: absolute;
	left: 380px;
}
#index{
    width: 20%;
    font-size: large;
    color: #818a97;
}
#reset{
	position: absolute;
	left: 980px;
}
.bu:hover{
	border:1px solid #484240;
	background:#827067;
}
h1{
	text-align: center;
	opacity: 0.7;
}
#sign{
	width: 100%;
	position: absolute;
	left:340px;
}
.sign{
	background: #3b474f;
	border:1px solid #808588;
	color:white;
	float:left;
	height:50px;
	width:400px;
	opacity:0.7;
    border-radius: 3px;
}
ul{
	list-style-type:none;
}
.sign:hover{
	background: #090809;
	border:1px solid #060609;
}
.sign:active{
	background:#041E35;
}
#index{
	position: absolute;
	z-index: 99;
	text-decoration: none;
	top:5%;
}
#index:hover{
	text-decoration: underline;
}
